.container {
  background-color: #3a4149;
  border-radius: 0.25rem;
}

.card {
  background-color: rgb(65, 79, 103);
  padding: 1rem;
  border-radius: 0.25rem;
  color: white;
}

.cardPlaceholder {
  background-color: rgb(65, 79, 103);
  border-radius: 0.25rem;
  color: white;
  height: 10rem;
}

.cardPlaceholder:hover {
  filter: brightness(1.1);
}

.cardHeader {
  min-width: 0;
}

.guildButton {
  min-width: 0;
  color: rgb(255, 183, 74);
}

.guildButton:hover {
  filter: brightness(1.1);
}

.membershipRoleCount {
  color: #dfa3ff;
}

.membershipRole {
  background-color: #313338;
  border-radius: 1rem;
  height: 12rem;
  width: 30rem;
}

.verifiedMembershipRole {
  background-color: #283057;
}

.membershipRolePill {
  border-radius: 3px;
  padding: 0 2px;
}

.channelInfo {
  min-width: 0;
  color: #dcdadc;
}

.fieldName {
  color: #dcdcdc;
  margin-right: 0.5rem;
}

.checked {
  color: rgb(47, 255, 47) !important;
}

.channelTitle {
  color: #f1f1f1;
}

.channelTitle:hover {
  text-decoration: underline;
}

.verify {
  background-color: rgb(111, 92, 229);
  user-select: none;
  font-size: 16px;
  padding: 0.25rem 0.75rem;
  color: white;
}

.date {
  color: rgb(255, 188, 130);
}
