.modal :global(.ant-modal-title) {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  background-color: #3a4149 !important;
  color: #dcdcdc;
}

.modal :global(.ant-modal-content) {
  background-color: #3a4149 !important;
  color: #dcdcdc;
}

.modal :global(.ant-modal-close-x) {
  color: rgb(173, 173, 173);
}

.accountWrapper {
  background-color: #313338;
}

.accountInfo {
  min-width: 0;
  color: #dcdadc;
}

.accountTitle {
  color: #f1f1f1;
}

.accountTitle:hover {
  text-decoration: underline;
}

.collapse :global(.ant-collapse-header) {
  padding: 0 !important;
  font-size: 1rem !important;
  margin-top: 1rem !important;
  margin-bottom: 0.5rem !important;
  color: white !important;
  font-weight: 700 !important;
  font-family: 'Poppins', sans-serif !important;
}

.collapse :global(.ant-collapse-content-box) {
  padding: 0 !important;
  color: #dcdcdc;
}

.loadingBox {
  height: 2.5rem;
}

.youtubeBranding {
  height: 2.5rem;
}
